<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/bootstrap')%>
    <title>Homepage</title>
</head>
<body>
    <%- include('partials/navbar')%>
    <div class="jumbotron jumbotron-fluid" style="background-color: #008081;">
            <div class="container">
                <h1 class="display-4" style="text-align: center; color: azure;">Event App</h1>
            </div>
        </div>
</body>
</html>