<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/bootstrap') %>
    <title>Event App</title>
</head>
<body>
    <%- include('partials/navbar') %>
    
    <div class="row mb-3 mt-3 mr-3 ml-3">
        <div class="col-md-6">
            <h1>Backyard Party</h1>
        </div>
        <div class="col-md-6 mt-5">
            <h3>Login</h3>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a class="btn btn-primary" href="/users/sign-up">Sign Up</a>
            </form>
        </div>
    </div>
</body>
</html>